.main{
    margin-top: 100px;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.head h1{
    font-size: 54px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1px;
}
.head p{
    font-size: 16px;
    color: #a7a9ac; 
}
.detail-about{  
    display: flex; 
    margin-top: 16px;
}
.image{
    width: 400px; 
    border-radius: 25px;
    height: 380px;
}
.cards{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.education-card{ 
    padding: 30px;
    border: 1px solid #9ca3af;
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 500px;
    margin-top: 50px;
}
.about-icon{
    width: 30px;
}
.expirence-card{
    padding: 30px;
    border: 1px solid #9ca3af;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 500px;
    margin-left: 30px; 
    margin-top: 50px;
}
.title{
    font-size: 20px;
    font-weight: 500;
}
.info-about{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.clr{
    color: grey;
}