.home{
    width: 50%; 
    margin: auto;
    margin-top: 140px;
    display: flex;
    height: 500px; 
    gap: 10px;
}
.detail{
    margin: 0 auto;
    margin-top: 25px;  
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px;
}
.name{
    font-size: 52px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1px;
}
.role{
    font-size: 22px;
    font-weight: 500;
    color: #6b7280;
}
.greet{
    color: #6b7280;
}
.btns{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.btn{
    padding: 10px 20px; 
    font-size: 14px;
    font-weight: 500;
    /* border: none; */
    border-radius: 25px;
    /* border: black; */
}
.photo img{
    width: 310px;
    border-radius: 50%;
}