.navbar-right{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    cursor: pointer;
}
.navbar{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-weight: 500; 
    font-size: 25px;  
    padding-top: 20px;
}
.navbar-name{
    font-weight: 500; 
    font-size: 25px; 
}
.navbar-right div:hover{
    color: blue;
    transition: 0.3s;
}