.navbar-right{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    cursor: pointer;
}
.navbar{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-weight: 500; 
    font-size: 25px;  
    padding-top: 20px;
}
.navbar-name{
    font-weight: 500; 
    font-size: 25px; 
}
.navbar-right p:hover{
    color: #0077ff;
    transition: 0.3s;
}
.navbar-right p{
    position: relative;
}
.navbar-right p::after{
    content: "";
    position: absolute;
    height: 2px;
    bottom: -5px;
    background-color: #0077ff;
    width: 0;
    left: 0;
    transition: width 0.3s ease;
}

.navbar-right p:hover::after{
    width: 100%;
}